.add-sale {
    max-width: 400px;
    margin: 0 auto;
}

.add-sale-btn {
    display: block;
    border: 1.5px solid #f94f0d;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    padding: 8.5px 0;
    width: 130px;
    
}
