.total-result {
    margin: 30px 0;

    @media(max-width: 800px) {
        font-size: 15px;
    }

    span {
        @media(max-width: 800px) {
            font-size: 16px;
        }
    }
}

.total-result__sales,
.total-result__bonus {
    display: flex;
    justify-content: space-between;
}


