.header {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    img {
        @media(max-width: 800px) {
            height: 70px;
        }
    }

    @media(max-width: 800px) {
        padding-bottom: 20px;
    }
}
